@import url("reset.css");
@import url("bonus.css");

SPAN.grower			{width: 15px;height: 15px;display: block;cursor: pointer;position: relative;z-index: 1;margin-left: -22px;float: right;margin-top: 4px;}
SPAN.OPEN				{background: url(../images/categories_minus.gif) no-repeat 3px 3px;}
SPAN.CLOSE				{background: url(../images/categories_plus.gif) no-repeat 3px 3px;}


/* @group Общий стиль */
	html, body {width:100%;height:100%;color:#7f7f7f;font:12px/1.231 Arial, Helvetica, sans-serif;background:url(../images/bg/bg_pattern.png);}
	
	p					{margin-bottom:4px;}
	h1, h2, h3, h4 		{color:#383838;line-height:normal;margin-bottom:10px;}
	h1 					{font:normal 18px/1.15 "Arial";}
	h2 					{font:bold 14px/1.1 "Arial";}
	h3 					{font:bold 13px/1.1 "Arial";margin-top:15px;}
	h4 					{font:bold 12px/1.1 "Arial";margin-bottom:5px;}

	a 					{color:#D92728;text-decoration:none;}
	a:hover 				{color:#D92728;text-decoration:underline;}
	.link_2, a.link_2 	{color:#727272;text-decoration:none;}
	a.link_2:hover 		{color:#3D3D3D;text-decoration:none;}
	.color 				{color:#D92728 !important;font-weight:700;}	
	.message_error		{clear:both;height:18px;padding:10px 20px;margin-top:10px;overflow:hidden;color:red;background-color:#ffcaca;border:1px dotted #ff4545;}

/* 	Основное разделение страницы в index.tpl */
#main-width 				{position:relative;width:1020px;margin:0 auto;text-align:left;background:white;
box-shadow:0 0 10px #E3E3E3;
-moz-box-shadow:0 0 10px #E3E3E3;
-webkit-box-shadow:0 0 10px #E3E3E3;		
}
#header					{position:relative;overflow:hidden;height:115px;font-size:11px;}

/* 	Блок юзверя */	
#user_box_top 			{float:right;position:relative;top:30px;right:65px;}
#user_box_top .username	{font:bold 12px "Arial";}

/* 	Валюта выбор */	
#currencies				{float:right;position:relative;top:30px;right:20px;}
#currencies form			{float:right;padding-left:5px;}
#currencies select		{width:80px;margin-top:-3px;}	

/* 	Блок корзины */
#cart_informer 			{position:absolute;top:27px;left:543px;z-index:99;min-height:22px;width:150px;padding:3px 0 0 30px;background:url(../images/bg/cart.gif) 0 0 no-repeat;}
.ui-effects-transfer 	{border:3px solid #D92728;}
.logo					{position:absolute;top:23px;left:17px;width:250px;height:98px;background:url(../images/images_theme/logo.png) no-repeat left; z-index:1000;}
	
/* 	Поиск */	
#search					{position:absolute;top:60px;right:20px;}
#search .input_search 	{float:left;width:338px;height:14px;padding:5px 5px 5px 30px;margin-right:82px;border:1px solid #e0e0e0;font:11px/11px "Arial";color:#9e9f9f;background:white url(../images/bg/button_search.png) no-repeat left;}
#search .button_search 	{float:right;padding:0;border:none;width:80px;height:27px;margin-top:-26px;background:url(../images/bg/search_btn.png);}

#site_menu				{overflow:hidden;height:39px;font:bold 12px Arial;text-transform:uppercase;background:url(../images/bg/headerlink1.png) repeat-x;}
#site_menu ul li			{margin-right:-3px;background:url(../images/bg/headerlink.png) no-repeat right;display:-moz-inline-box; display:inline-block; *zoom:1; *display:inline;}
#site_menu ul li:hover	{background:#3F3E3E;}
#site_menu ul li .selected	{color:#808080;text-decoration:none;}
#site_menu li a			{color:#fff;text-decoration:none;padding:12px 25px 12px 25px;display:inline-block;}

#content_main			{overflow:hidden;padding:20px;}
#content_left			{font-size:11px;overflow:hidden;float:left;width:230px;}
#content_left img.dop	{margin-bottom:20px;max-width:226px;padding:1px;border:1px solid #EBEBEB;}
#content_left h2			{overflow:hidden;height:32px;padding:8px 5px 0px 10px;color:#fff;font:bold 13px Arial;background:url(../images/bg/bg_left_h2.png);}
#content_left h2.gray	{background:red url(../images/bg/bg_left_h2_gray.png);}
#content_left h2	a		{color:#fff;text-decoration:underline;}
#content_right			{overflow:hidden;float:right;width:730px;min-height:400px;font-size:11px;}

#catalog_menu 			{margin-bottom:20px;}
#catalog_menu .selected	{font:bold 12px/1.3 "Arial";}
ul.catalog_menu 			{list-style:none;}
ul.catalog_menu li		{font:bold 12px/1.3 "Arial";padding:3px 0px 3px 8px;background:url(../images/bg/bullet_category.png) no-repeat left top;}
ul.catalog_menu li a		{}

/* Внутренний уровень вложенности меню каталога */
ul.catalog_menu ul 		{padding:5px 0px 5px 0px;}
ul.catalog_menu ul li		{font:normal 12px/1.3 "Arial";padding:5px 0px 5px 8px;border-bottom:1px dotted #C1C1C1;font-weight:300;background:url(../images/bg/bullet_category.png) no-repeat left top;}
ul.catalog_menu ul .column li {margin-right: 30px;}
ul.catalog_menu ul li a	{}

/* Пояснение */
#info_block 				{margin-bottom:20px;}
#info_block p			{margin-bottom:9px;}

/* Блог */
#blog_left				{padding-left:5px}
#blog_left a				{display:block;padding:0px 0px 10px 15px;margin-bottom:15px;border-bottom:1px dotted #CCCCCC;background:url(../images/bg/postdate.png) no-repeat;}

/* 	Бренды и производители */
#brands					{margin-bottom:20px;}
#brands a 				{margin:5px 5px 0px 0;font:bold 13px "Arial";}
#brands img 				{margin-top:5px;border:1px solid #EBE8E8;padding:1px;background:#fff;max-height:40px;max-width:64px;display:-moz-inline-box; display:inline-block; *zoom:1;opacity:0.4;-moz-opacity:0.3;filter:alpha(opacity=40);}
#brands img:hover		{opacity:1.0; -moz-opacity:1.0;filter:alpha(opacity=100);}

/* Заголовок страницы в рамке */
#page_title 				{overflow:hidden;margin-bottom:20px;padding:9px 20px 8px 15px;background:url('../images/bg/page_title.png') repeat-x bottom;border:1px solid #e9e9e9;}
#page_title p			{font-size:11px;margin-top:5px;}
#page_title h1 			{float:left;font:17px/1.005 'Cuprum', sans-serif;font-weight:400;margin:0 20px 4px 0;}		
#page_title h2 			{clear:both;font:bold 13px "Arial";color:#787878}		
#category_description 	{clear:both;overflow:hidden;margin:0px 5px 10px 5px;padding-bottom:15px;border-bottom:1px dotted #CFCFCF;}
#category_description p	{margin-bottom:8px;}

/* Характеристики */
#features 					{overflow:hidden;padding:0px 5px 10px 5px;margin-bottom:10px;border-bottom:1px dotted #CFCFCF;}
#features .feature 			{font-size:11px;clear:both;}
#features .feature .f_name	{float:left;display:block;width:25%;font-weight:700;}
#features .feature .f_links	{float:left;display:block;width:74%;}
#features p 					{margin-bottom:6px;}
#features a 					{margin-right:6px;color:#808080;}
#features a:hover, #features a.selected {color:#D92728;text-decoration:underline;}
#features a.selected 		{font-weight:700;}

/* 	Просмотренные товары */	
#browsed_products 		{overflow:hidden;margin-bottom:10px;}
#browsed_products li		{display:block;float:left;overflow:hidden;border:1px solid #e0e0e0;background-color:#ffffff;margin:0 7px 7px 0;width:36px;height:36px;}
#browsed_products li a	{display:table-cell;vertical-align:middle;text-align:center;width:36px;height:36px;}


#back_forward 			{clear:both;overflow:hidden;padding:10px;}
#back_forward a 			{color:#6D6D6D;min-height:32px;width:40%;padding-top:5px;font-weight:700;}
#back_forward a:hover	{color:#000;text-decoration:none;}
#back_forward a.back		{float:left;padding-left:25px;background:url(../images/bg/prev_product.png) no-repeat;}
#back_forward a.forward	{float:right;text-align:right;padding-right:25px;background:url(../images/bg/next_product.png) no-repeat right;}
	
/* Подвал */
#footer					{clear:both;color:#808080;padding:35px 0 35px 40px;margin:0px 0 15px 0;font-size:11px;}
.footer_menu			{overflow:hidden;}
.footer_menu a			{float:left;padding:0px 15px 6px 0px;text-transform:uppercase;font:bold 12px Arial Narrow, Arial;}

.counters				{float:right;margin-right:40px}
.counters a img 			{opacity:0.3;/* CSS3 – Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */ -moz-opacity:0.2; /* Mozilla 1.6 */ filter:alpha(opacity=20); /* IE 5.5+*/ }
.counters a:hover img	{opacity:1.0; -moz-opacity:1.0;filter:alpha(opacity=100);}
	
.copyr a					{float:right;color:#D6D6D6;font-size:11px;text-decoration:none;padding-bottom:20px;} 
.copyr a:hover			{color:#A7A7A7;} 
	
/* Товары блоками */
#catalog				{clear:both;margin:20px 0px 20px 0px;text-align:center;}	
#catalog li 				{text-align:left;overflow:hidden;width:208px;min-height:250px;margin: 0px 10px 15px 10px;border:1px solid #F0F0F0;border-top:4px solid #f5f5f5;display:-moz-inline-box;display:inline-block;*zoom:0;*display:inline;vertical-align:top;}
#catalog li:hover 		{border-top:4px solid #D6D6D6;}	
#catalog li:hover a		{color:#000;}	
#catalog li:hover .price	{color:#D92728;}	
#catalog li:hover .annot p{color:#575757;}
#catalog .product-link {padding:5px 15px 15px 15px; display:block;}
#catalog a 				{text-decoration:none;}
#catalog h3 				{overflow:hidden;text-transform:uppercase;margin:5px 0px 0px 0px;height:25px;font:bold 11px/1.1 arial;}
#catalog .image			{display:block;line-height:160px;max-width:180px;text-align:center;margin: 0;width: 100%;}
#catalog .product img 	{display:inline-block;line-height:1.2;vertical-align:middle;}
#catalog .annot p		{clear:both;overflow:hidden;padding-top:10px;color:#989898;font:normal 11px/1.02 arial !important;max-height:45px;}
#catalog .product select 	{float:right;width:90px;margin:5px 0px 0px 10px;}

	
	.featured							{position:absolute;margin:5px 0px 0px 205px;width:14px;height:25px;background:url(../images/bg/featured.png) no-repeat;}
	.product .price 						{overflow:hidden;color:#575757;font:bold 15px "Arial";margin-bottom:2px;}
	.product .price strike				{float:right;font-size:14px;font-weight:normal;color:#575757;}
	.product .price i 					{font-size:11px;font-weight:bold;font-style:normal;}
	.product .add_to_cart 				{float:left;width:100px;height:24px;margin:2px 0px 0px 0px;background:url(../images/bg/button_add_to_cart.png);}
	.product .add_to_cart:hover 			{background:url(../images/bg/button_add_to_cart.png) 0 -24px;}

	.product .preorder 				{float:left;width:100px;height:24px;margin:2px 0px 0px 0px;background:url(../images/bg/button_preorder.png); clear: both;}
	.product .preorder:hover 			{background:url(../images/bg/button_preorder.png) 0 -24px;}

	/* Страница Товара */
	.product .image 						{float:left;width:205px;margin-left:20px;}
	.product .images 					{margin-top:10px;}
	.product .infoblock					{float:right;width:410px;margin-right:20px;}
	.product .infoblock .brand 			{display: block; margin-top: 10px;}
	.product .infoblock .price			{font-size:20px;color:#D92728;}
	.product .infoblock .price strike		{font-size:18px;}
	.product .infoblock select			{float:left;width:120px;margin-bottom:10px;}
	
	.product .features 					{margin-bottom:5px;}
	.product .features li 				{font-size:11px;padding:5px 0 5px 0;overflow:hidden;border-bottom:1px dotted #CCCCCC;}
	.product .features label 				{float:left;font-weight:bold;font-style:normal;display:block;width:40%;padding-right:5px}
	.product .features span 				{float:left;display:block;width:55%;}

#share42 				{position:fixed;z-index:1000;top:300px;right:10px;}
#share42 				{padding:4px 4px 0;background:#FFF;border:1px solid #E9E9E9;border-radius:4px;}
#share42:hover 			{background:#F6F6F6;border:1px solid #D4D4D4;box-shadow:0 0 5px #DDD;}
#share42 a 				{opacity:0.3}
#share42:hover a 		{opacity:0.7}
#share42 a:hover 		{opacity:1}
/* Корзина */
#purchases							{margin-bottom:20px;}
#purchases table 						{}
#purchases tr						{border-top:1px dotted #e0e0e0;}
#purchases th						{padding-top:5px;padding-bottom:5px;font-size:14px;font-weight:bold;}
#purchases td						{vertical-align:middle;height:60px;}
#purchases .image					{width:50px;text-align:center;}
#purchases .name						{padding-left:10px;padding-right:10px;text-align:left;width:300px;}
#purchases td.name					{font-size:12px;}
#purchases td .download_attachment	{white-space:nowrap;color:#3b8500;padding:5px 10px 7px 10px;border-bottom-color:1px dotted green;background-color:#ccff72;line-height:30px;}
#purchases .price					{padding-left:5px;padding-right:5px;width:120px;}
#purchases td.price					{text-align:right;font-size:12px;}
#purchases .remove					{padding-left:15px;text-align:right;}
#purchases .amount					{font-size:12px;padding-left:5px;padding-right:5px;}
#purchases .amount select				{font-size:12px;}

ul#deliveries						{padding:20px 20px 0 0px;}
ul#deliveries li						{margin-bottom:20px;}
ul#deliveries li div.checkbox			{margin-top:3px;float:left;}
ul#deliveries li label					{display:block;font:normal 11px/1.13 "Arial";margin-left:30px;}

/* @group Детали заказа */
table.order_info						{margin-right:20px;margin-bottom:20px;background-color:#f9f9f9;}
table.order_info td					{padding:10px;border:1px dotted #e0e0e0;font-size:12px;}
.checkout_button					{padding:10px 20px 10px 20px;border:1px solid #51a400;background-color:#d3ffa9;color:#2e5e00;font-size:14px;}

.theme-default 						{margin:0 auto;width:730px;}
.theme-default #slider 				{width:730px;height:340px;display:block;margin-bottom:10px;}

.theme-default .nivoSlider 			{position:relative;background:#fff url(../images/loading.gif) no-repeat 50% 50%;}
.theme-default .nivoSlider img 		{position:absolute;top:0px;left:0px;display:none;}
.theme-default .nivoSlider a 			{border:0;display:block;border:5px;}

.theme-default .nivo-controlNav 		{position:absolute;left:20px;bottom:2px;}
.theme-default .nivo-controlNav a 	{display:block;width:22px;height:22px;background:url(../images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:5px;float:left;}
.theme-default .nivo-controlNav a.active	{background-position:0 -22px;}

.theme-default .nivo-directionNav a 	{z-index:22;display:block;width:30px;height:30px;background:url(../images/arrows.png) no-repeat;text-indent:-9999px;border:1;}
.theme-default a.nivo-nextNav 		{background-position:-30px 0;right:5px;}
.theme-default a.nivo-prevNav 		{left:5px;}

.theme-default .nivo-caption 		{font:bold 13px/1.1 "Arial";color:#fff;padding:10px;}
.theme-default .nivo-caption a 		{color:#fff;border-bottom:1px dotted #fff;}
.theme-default .nivo-caption a:hover {color:#fff;} 

.nivoSlider 							{position:relative;}
.nivoSlider img 						{position:absolute;top:0px;left:0px;}
.nivoSlider a.nivo-imageLink 		{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.nivo-slice 							{display:block;position:absolute;z-index:5;height:100%;}
.nivo-box 							{display:block;position:absolute;z-index:5;}

.nivo-caption 						{position:absolute;left:0px;bottom:30px;background:#8A8A8A;color:#fff;opacity:0.2; /* Overridden by captionOpacity setting */width:100%;z-index:8;}
.nivo-caption p 						{padding:7px;margin:0;}
.nivo-caption a 						{display:inline !important;}
.nivo-html-caption 					{display:none;}
.nivo-directionNav a 				{position:absolute;top:45%;z-index:9;cursor:pointer;}
.nivo-prevNav 						{left:0px;}
.nivo-nextNav 						{right:0px;}
.nivo-controlNav a 					{position:relative;z-index:9;cursor:pointer;}
.nivo-controlNav a.active			{font-weight:bold;}

.showmore_content { position:relative; overflow:hidden; }           
.showmore_trigger { width:100%; height:45px; line-height:45px; cursor:pointer; }
.showmore_trigger span { display:block; }

.head-contacts {position:absolute; left:375px; top:47px;}
.head-contacts {position:absolute; left:300px; top:33px;}

.head-contacts .phones a{display: block; margin-bottom: 10px; color: #000; line-height: 12px;}
.head-contacts .phones a:nth-of-type(2){margin-bottom: 5px;}
.head-contacts .phones a:last-of-type{color: #D92728; text-decoration: underline;}
.head-contacts .phones a:last-of-type span{font-size: 11px;}
.head-contacts .phones a:hover{color: #D92728; text-decoration: none;}
.head-contacts div.phones{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	font-family: 'Arial'
}
.head-contacts div.phones span{font-size: 16px;}


.list-cat li {float:left; margin:0 20px 20px 0;}

.list-cat li  a img {width:200px; height:200px;}
.list-cat li  a span {position:relative; display:block; height:20px; width:100px; padding-top:8px; float:both; margin:0 auto; font-weight:bold !important; color: #111;} 
.list-cat li .cati{

	max-width: 200px;
	max-height: 200px;
	

}
.list-cat li .cati-sub{

	max-width: 44px;
	max-height: 44px;


}


.sub {margin-bottom:20px;}

.cfgtt {position:relative; padding-left:40px;}

/* Слайдер */
.bx-wrapper {
  text-align: center;
  position: relative;
}
.bx-wrapper .bx-viewport {
  height: 100% !important;
  -webkit-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next,
.bx-wrapper .bx-controls-direction a {
  display: none;
}
.bx-wrapper .bx-pager {
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
  text-align: center;
  color: #666;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: none;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
  border: 3px solid #666;
  border-radius: 50%;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
}




article {
  margin: 0;
  padding: 25px 12px 0;
  width: 815px;
  font-family: 'Arial';
  font-size: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
article .column-left {
  margin: 0;
  width: 240px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-transform: uppercase;
}
article .column-left .date {
  margin: 0 0 15px;
  padding: 12px 5px;
  width: 210px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #e52a2b;
}
article .column-left .order {
  margin: 0;
  padding: 12px 5px;
  width: 210px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe1a00), to(#ce0000));
  background-image: -webkit-linear-gradient(top, #fe1a00, #ce0000);
  background-image: linear-gradient(to bottom, #fe1a00, #ce0000);
  color: #fff;
}
article .column-left .order:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ce0000), to(#fe1a00));
  background-image: -webkit-linear-gradient(top, #ce0000, #fe1a00);
  background-image: linear-gradient(to bottom, #ce0000, #fe1a00);
}
article .column-right {
  margin: 0;
  width: 480px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-right: 70px;
}
article .column-right h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
}
article .column-right p {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}
article .column-right img {
	max-width: 470px;
	width: auto;
	height: auto;
	max-height: 400px;
	margin-top: 10px;
}
article hr {
  margin-top: 30px;
  border: 1px solid #E8E8E8;
}
article a.admin_morelink {
	padding: 5px;
	text-transform: uppercase;
	background: #cecece;
	color: #fff;
	line-height: 26px;
	margin-top: -30px;
	font-size: 12px;
	font-weight: bold;
}
article a.admin_morelink:hover {
	background: #888;
}



/*** modal window ***/
.button {
	display: none;
}

.modal_form label {
	display: inline-block;
	width: 80px;
	margin-bottom: 5px;
	vertical-align: top;
	padding-top: 5px;
}

.modal_form input[type="submit"] {
	margin-top: 0;
	width: 100%;
}

.modal_form textarea {
	width: 167px;
	font-family: 
}

input[type="text"] {
	cursor: text;
}